<Layouts.app flash={@flash}>
  <section class="home-page">
    <h1>Phoenix SASS Template</h1>
    <h2>Core Components</h2>
    <.flash kind={:info} phx-mounted={show("#flash")}>This is an info message!</.flash>
    <.flash kind={:error} phx-mounted={show("#flash")}>This is an error message!</.flash>
  </section>
</Layouts.app>
